html[data-theme="dark"] #app-container::before {
  opacity: 0.05;
}

.dark-theme,
html[data-theme="dark"] {
  --ct-primary-color: #2e3440;  /* dark blue from Nord theme */
  --ct-secondary-color: #eceff4;  /* medium blue from Nord theme */
  --ct-warning-color: #ebcb8b;
  --ct-success-color: #a3be8c;  /* pale blue from Nord theme */
  --ct-highlight-color: #ECEFF4;  /* snowstorm from Nord theme */

  --color-level-1: #2E3440;  /* dark blue-gray from Nord theme */
  --color-level-2: #3B4252;  /* dark blue from Nord theme */
  --color-level-3: #434C5E;  /* medium blue from Nord theme */
  --color-level-4: #4C566A;  /* light blue from Nord theme */
  --color-level-5: #D8DEE9;  /* pale blue from Nord theme */
  --color-level-6: #ECEFF4;  /* snowstorm from Nord theme */

  --ls-primary-background-color: #2e3440;  /* dark blue from Nord theme */
  --ls-secondary-background-color: #eceff4;  /* dark blue-gray from Nord theme */
  --ls-tertiary-background-color: #a3be8c; 
  --ls-quaternary-background-color: #3b4252;  /* light blue from Nord theme */

  --ls-border-color: #3b4252;
  
  --ls-table-tr-even-background-color: #2E3440;  /* dark blue-gray from Nord theme */

  --ls-primary-text-color: #ECEFF4;  /* snowstorm from Nord theme */
  --ls-secondary-text-color: #D8DEE9;  /* pale blue from Nord theme */

  --ct-bold-color: #8fbcbb;

  --ls-link-text-color: #3B4252;  /* dark blue from Nord theme */
  --ls-link-ref-text-color: #3B4252;  /* dark blue from Nord theme */
  --ls-link-ref-text-hover-color: #434C5E;  /* medium blue from Nord theme */

  --ls-active-primary-color: #8FBCBB;  /* blue-gray from Nord theme */
  --ls-active-secondary-color: #88C0D0;  /* frost from Nord theme */
  --ls-external-link-color: #88C0D0;  /* frost from Nord theme */

  --ls-guideline-color: #4C566A;  /* light blue from Nord theme */
  --ls-block-bullet-color: #4C566A;  /* light blue from Nord theme */
  --ls-bullet-closed-color: #E5E9F0;  /* extra pale blue from Nord theme */
  --ls-block-bullet-border-color: #D8DEE9;  /* pale blue from Nord theme */
  --ct-block-arrow-color: #A5A5A5;  /* gray from Nord theme */

  --ct-page-reference-color: #8FBCBB;  /* blue-gray from Nord theme */

  --ls-icon-color: #ECEFF4;  /* snowstorm from Nord theme */

  --ct-block-reference-background: #3b4252;
  --ct-block-reference-background-hover: #8fbcbb;

  --ls-page-properties-background-color: #4C566A;  /* light blue from Nord theme */
  --ls-scrollbar-foreground-color: #2E3440;  /* dark blue-gray from Nord theme */

  --ct-header-bg-color: rgba(0, 0, 0, 0.1);

  --ls-selection-color: rgba(46, 52, 64, 1).;  /* dark blue-gray from Nord theme */
  --ls-block-highlight-color: rgba(0, 0, 0, 0.2);
}

.dark-theme .image-resize {
  filter: brightness(0.8) saturate(85%);
}